.header{
    position: fixed;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
h1{
    color: #ffffff;
    margin: 0;
}
ul{
    list-style-type: none;
}
.nav-list{
    color: aliceblue;
    
    display: flex;
}
.nav-list li{
    margin-left: 2rem;
}
.nav-list a{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;

}
:hover{
    color: #ffcc00;
}